.footer-container{
    display: flex;
    flex-wrap: wrap;
    padding-top: 330px;
    justify-content: space-between;
    padding-bottom: 390px;
}

.footer-title{
    font-size: 32px;
    color: #343434;
    font-weight: 400;
    font-family: "Montserrat";
    padding-bottom: 40px;
}

.footer-text{
    font-size: 24px;
    color: #343434;
    font-weight: 400;
    font-family: "Montserrat";
}

.footer-list{
    font-size: 24px;
    line-height: 42px;
    color: #343434;
    font-weight: 400;
    font-family: "Montserrat";
}

.social-media-container{
    display: flex;
    flex-wrap: wrap;
    padding-top: 40px;
    gap: 20px;
}

.social-media{
    background-color:#2F2F2F ;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
   
}

.footer-content-one{
   padding-right: 80px;
}


